header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.my-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

